html{
    background-color: #eee;
    padding:0.5em 1em;
    background-image: url("https://images.unsplash.com/photo-1516922297458-8fb6e8966793?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
   

}


h1,h2,h3,h4{
    color:blueviolet;
    display: block;
    text-align: center;

}
label{
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
}
button{
    margin: 10px;
    padding: 10px;
    align-self: center;
    
}
input[type = text]{
    display:inline-block;
    width: 200px;
} 
.col-xl{
    text-align: center;
}



.col-md{
text-align: center;
}




